dbt-example/player_data/node_modules
dbt-example/dbt/squad_creation/target/
dbt-example/dbt/squad_creation/dbt_packages/
dbt-example/dbt/squad_creation/logs
dbt-example/dbt/dbt-env
dbt-example/dbt/logs
dbt-example/logs
pyspark/.ipynb_checkpoints
pyspark/.ipython
pyspark/.jupyter
pyspark/.local
pyspark/.npm
pyspark/.cache/
dbt-example/player_data/my_deployment_package.zip
amazon-reviews/pyspark/metadata.json
amazon-reviews/pyspark/item_dedup.json
amazon-reviews/pyspark/outputs